PORT=3333
JWT_EXPIRES_IN="15m"
JWT_SECRET="your-secret-for-JWT-encryption-and-decryption"

# Make sure this is tailored to the docker-compose.yml configuration
DATABASE_URL="client://user:password@host:port/database?schema=public"

MSQL_ROOT_USER=wallet
MYSQL_USER=wallet
MYSQL_PASSWORD=wallet
MYSQL_HOST=localhost
MYSQL_DATABASE=wallets
